.section {
    width: 1300px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 38px;
    font-weight: 600;
    color: #253D4E;
    /* rgb(37, 61, 78) is #253D4E */
    text-align: center;
    margin-bottom: 50px;
    max-width: 800px;
}

.speciesRow {
    display: flex;
    gap: 50px;
}

.mainColumn {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.gridColumn {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.topRow {
    display: flex;
    gap: 50px;
}

.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.cardImage {
    object-fit: cover;
}

.cardText {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
}

.textWhite {
    color: #FEFEFE;
}

.textDark {
    color: #253D4E;
}

@media (max-width: 1350px) {
    .section {
        width: 100%;
        padding: 0 20px;
    }

    .speciesRow {
        flex-direction: column;
        align-items: center;
    }

    .gridColumn,
    .topRow {
        width: 100%;
        align-items: center;
    }

    .card {
        width: 100% !important;
        height: auto !important;
        aspect-ratio: auto;
    }
}